/* EmptyCartPage.css */

.container1 {
    text-align: center;
    margin-top: 50px;
    /* Adjust margin as needed */
}

.empty-cart-image {
    display: block;
    width: 300px;
    /* Adjust the width as needed */
    height: 300px;
    /* Adjust the height as needed */
}

h1,
h5 {
    margin: 10px 0;
    /* Adjust margin as needed */
}

.btn_container {
    margin-top: 20px;
    /* Adjust margin as needed */
}

.btn1 {
    /* Add your button styles here */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}